body {
    font-family: 'Roboto Mono', monospace;
    margin-left: 5%;
    margin-right: 5%;
}
.header h1 {
    display: inline-block;
    color: #262626;
    width: 15%;
    padding: 16px; 
}
.header h1 span {
    color: #26619C;
}
.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.first a {
    float: left;
    display: inline-block;
    color: #262626;
    text-align: center;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
}
.menu-bar a {
    text-decoration: none;
}
.menu-bar a:hover {
    background-color: #26619C;
    color: white;
}

.dropbtn {
    display: inline-block;
    color: #262626;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
}

.dropdown-content a:hover {
    background-color: #26619C;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.wrx {
    text-align: center;
}
.wrx span {
    color: #26619C;
}
.auto-gallery {
    
}
.auto-gallery img {
    float: left;
    width: 100%;    
    opacity: 0.6;
}
.auto-gallery img:hover {
    opacity: 1.0;
}
.auto-gallery-small img {
    float: left;
    opacity: 0.6;
    width: 50%;
}
.auto-gallery-small img:hover {
    float: left;
    opacity: 1.0;
}
.ottawa-container {
    
}
.ottawa {
    text-align: center;
    color: #ff0000;
    padding-top: 2%;
}
.ottawa-gallery img {
    float: left;
    width: 100%;
    opacity: 0.6;
}
.ottawa-gallery img:hover {
    opacity: 1.0;
}
.grc span{
    color: #0736F8;
}
.grc {
    text-align: center;
    padding-top: 2%;
}
