body {
    font-family: 'Roboto Mono', monospace;
}
.body {
    margin-left: 5%;
    margin-right: 5%;
    z-index: 111;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #26619C;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.dropdown-nav {
    position: relative;
    display: inline-block;
}
.dropdown-nav a:hover {
    background-color: #26619C;
    color: white;
}
.dropbtn-nav {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    background: none;
    border: none;
    z-index: 999;
}
.dropdown-content-nav {
    display: none;
    position: fixed;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    text-align: left;
    opacity: 1;
}
.dropdown-content-nav a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 999;
    background: white;
    opacity: 1;
}
.show {
    opacity: 1;
    display: block;
}
.header h1 {
    float: left;
    display: inline-block;
    color: #262626;
}
.header h1 span {
    color: #26619C;
}
.first a {
    background-color: white;
    float: left;
    display: inline-block;
    color: #262626;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    text-decoration: none;
}
.menu-bar a {
    text-decoration: none;
}
.nav {
    width: 27%;
}
.nav a:hover {
    background-color: #26619C;
    color: white;
}
.dropbtn {
    background-color: white;
    display: inline-block;
    color: #262626;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}
.dropdown-content a:hover {
    background-color: #26619C;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#toTop img{
    right: 0;
    position: fixed;
    width: 4.5%;
    bottom: 0;
}
.media {
    padding-top: 2%;
    width: 70%;
    display: inline-block;
    align-items: center;
}
.icon img{
    float: right;
    width: 5%;
    height: 5%;
    padding-right: 0.5%;
}
.container {
    
}
.wrx {
    text-align: center;
    padding-top: 2%;
}
.wrx span {
    color: #26619C;
}
.auto-gallery {
    
}
.auto-gallery img {
    float: left;
    width: 100%;    
    opacity: 0.6;
    z-index: 111;
}
.auto-gallery img:hover {
    opacity: 1.0;
    z-index: 111;
}
.auto-gallery-small img {
    float: left;
    opacity: 0.6;
    width: 50%;
    z-index: 111;
}
.auto-gallery-small img:hover {
    float: left;
    opacity: 1.0;
    z-index: 111;
}
.ottawa-container {
    
}
.ottawa {
    text-align: center;
    color: #ff0000;
    padding-top: 2%;
}
.ottawa-gallery img {
    float: left;
    width: 100%;
    opacity: 0.6;
    z-index: 111;
}
.ottawa-gallery img:hover {
    opacity: 1.0;
    z-index: 111;
}
.grc span{
    color: #0736F8;
}
.grc {
    text-align: center;
    padding-top: 2%;
}
